<%- include('./adminnavbar.ejs') %>

<!-- bradcam_area_start -->
<div class="courses_details_banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-6"></div>
    </div>
  </div>
</div>
<!-- bradcam_area_end -->

<div class="courses_details_info">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="courses_sidebar">
          <% include ../partials/messages %>
          <div class="col-xl-12 col-lg-12">
            <% if(files.metadata.contentType === 'video/mp4') {%>
            <video
              id="my-video"
              class="video-js vjs-fluid vjs-default-skin vjs-big-play-centered video_thumb"
              controls
              preload="auto"
              data-setup="{}"
            >
              <source src="<%= video.videoURL %>" type="video/mp4" />
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider
                upgrading to a web browser that
                <a
                  href="https://videojs.com/html5-video-support/"
                  target="_blank"
                  >supports HTML5 video</a
                >
              </p>
            </video>
            <% } else { %>
            <img
              class="card-img rounded-0"
              src="/admin/files/<%= files.name %>"
              alt="<%= files.name %>"
            />
            <% } %>
            <br />
            <br />
          </div>
          <a href="#" class="blog_item_date">
            <h3>
              <% let date=new Date(files.metadata.timeCreated); %> <%=
              date.toDateString() %>
            </h3>
          </a>
          <h1><%= files.metadata.metadata.subject %></h1>
          <p>
            <%= files.metadata.metadata.message %>
          </p>
          <form
            method="POST"
            action="/admin/delete/<%= files.name %>?_method=DELETE"
          >
            <button class="btn btn-danger btn-block mt-4">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
