<%- include('./partials/adminnavbar') %>

<!-- bradcam_area_start -->
<div class="courses_details_banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-6"></div>
    </div>
  </div>
</div>
<!-- bradcam_area_end -->

<div class="courses_details_info">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="courses_sidebar">
          <div class="col-xl-12 col-lg-12">
            <% if(files.contentType === 'video/mp4') {%>
            <video
              id="my-video"
              class="video-js vjs-fluid video_thumb"
              controls
              preload="auto"
              data-setup="{}"
            >
              <source src="/play/<%= files.filename %>" type="video/mp4" />
              <source src="/play/<%= files.filename %>" type="video/mov" />
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider
                upgrading to a web browser that
                <a
                  href="https://videojs.com/html5-video-support/"
                  target="_blank"
                  >supports HTML5 video</a
                >
              </p>
            </video>
            <% } else { %>
            <img
              class="card-img rounded-0"
              src="/admin/files/<%= files.filename %>"
              alt="<%= files.filename %>"
            />
            <% } %>
            <br />
            <br />
          </div>
          <h1><%= files.metadata.aliases %></h1>
          <p>
            <%= files.metadata.message %>
          </p>
          <form
            method="POST"
            action="../delete/<%= files._id %>?_method=DELETE"
          >
            <button class="btn btn-danger btn-block mt-4">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
