<%- include('./partials/navbar') %> <% if(user){ %>
<div class="row justify-content-center mr-0">
  <% for( let i = 0; i < posts.docs.length; i++ ) { %>
  <div class="card text-white bg-dark m-3">
    <div class="card-body">
      <h5 class="card-title"><%= posts.docs[i].title %></h5>
      <h6 class="card-subtitle text-muted"><%= posts.docs[i].description %></h6>
    </div>
    <div class="card-body">
      <p class="card-text"><%= posts.docs[i].body %></p>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">
        <span class="bg-info text-white"
          ><%= posts.docs[i].author.name %></span
        ></a
      >
    </div>
    <div class="card-footer text-muted">
      <%= posts.docs[i].publishedDate %>
    </div>
  </div>
  <% } %>
</div>
<% } else{ %> <%- include('./partials/index') %> <% } %>
<%-include('./partials/footer.ejs') %>
