<%- include('./partials/navbar') %>
<title><%= post.metaTitle %></title>
<meta name="title" content="<%= post.metaTitle %>" />
<meta name="description" content="<%= post.metaDescription %>" />
<link
  rel="stylesheet"
  href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css"
/>
<style>
  .tz-gallery {
    padding: 40px;
  }

  /* Override bootstrap column paddings */
  .tz-gallery .row > div {
    padding: 2px;
  }

  .tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
  }

  .tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
  }

  .tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
  }

  .tz-gallery .lightbox:hover:after,
  .tz-gallery .lightbox:hover:before {
    opacity: 1;
  }

  .baguetteBox-button {
    background-color: transparent !important;
  }
</style>
<div class="row justify-content-center mx-auto mt-3">
  <div class="col-sm-12 col-md-11 col-lg-10">
    <div class="card border-light mb-3">
      <video src="<%= post.video.source %>" class="img-fluid" controls></video>
      <div class="card-body">
        <h4 class="card-title">
          <%= post.title %>
          <span class="bg-danger text-white"><%= post.code %></span>
        </h4>
        <p class="card-subtitle mb-1"><%= post.description %></p>
        <h6 class="float-right">
          <% if (post.likes.includes(user.id)) { %>
          <form method="post" action="/<%=post.slug%>/unlike?_method=PUT">
            <input type="hidden" name="name" value="value" />
            <a
              onclick="this.parentNode.submit();"
              data-toggle="tooltip"
              title="Unlike"
              ><svg
                class="bi bi-heart-fill"
                width="3em"
                height="3em"
                viewBox="0 0 16 16"
                fill="red"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                /></svg
            ></a>
          </form>
          <% } else { %>
          <form method="post" action="/<%=post.slug%>/like?_method=PUT">
            <input type="hidden" name="name" value="value" />
            <a
              onclick="this.parentNode.submit();"
              data-toggle="tooltip"
              title="Unlike"
              ><svg
                class="bi bi-heart"
                width="3em"
                height="3em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                /></svg
            ></a>
          </form>
          <% } %> <%= post.like %>
        </h6>
        <p class="text-white mb-1">
          <span class="bg-success"
            ><%= moment(post.publishedDate).fromNow() %></span
          >
        </p>
        <p class="text-white">
          <span class="bg-info"><%= post.author.name %></span>
        </p>
        <hr />
        <p class="card-text">
          <%= post.body %>
        </p>
        <div class="tz-gallery">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <% for( let i = 0; i < post.photos.length; i++ ) {%>
              <a class="lightbox" href="<%= post.photos[i].source %>">
                <img
                  src="<%= post.photos[i].source %>"
                  class="d-block w-100"
                  alt="<%= post.photos[i].key %>"
                />
              </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('./partials/footer.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
  baguetteBox.run('.tz-gallery');
</script>
