<%- include('./partials/navbar') %>
<title><%= post.metaTitle %></title>
<meta name="title" content="<%= post.metaTitle %>" />
<meta name="description" content="<%= post.metaDescription %>" />
<div class="row justify-content-center mx-auto mt-3">
  <div class="col-sm-12 col-md-11 col-lg-10">
    <div class="card border-light mb-3">
      <video src="<%= post.video.source %>" class="img-fluid" controls></video>
      <div class="card-body">
        <h3 class="card-title">
          <%= post.title %>
          <span class="bg-danger text-white"><%= post.code %></span>
        </h3>
        <p class="card-subtitle mb-1"><%= post.description %></p>
        <div class="float-right">
          <%- include('./partials/save') %> <%- include('./partials/like') %>
        </div>
        <a href="/api/<%=post.author.username%>" class="w-100 mb-2">
          <img
            src="<%= post.author.avatar.source %>"
            class="d-inline-block mr-2 rounded-circle"
            style="width: 40px;"
            alt="<%= post.author.avatar.key %>"
          />
          <h5 class="mt-2 text-capitalize d-inline-block">
            <%= post.author.name %>
          </h5>
        </a>
        <p class="text-white mt-2">
          <span class="bg-info"
            ><%= moment(post.publishedDate).fromNow() %></span
          >
        </p>
        <br />
        <hr class="mt-0" />
        <p class="card-text">
          <%= post.body %>
        </p>
        <div class="row justify-content-center text-center">
          <% for( let i = 0; i < post.photos.length; i++ ) {%>
          <div class="col-sm-10 col-md-5 mb-3">
            <a
              data-toggle="lightbox"
              data-gallery="gallery"
              href="<%= post.photos[i].source %>"
            >
              <img
                src="<%= post.photos[i].source %>"
                class="d-block w-100"
                alt="<%= post.photos[i].key %>"
              />
            </a>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-11 col-lg-10">
    <div class="card border-light mb-3">
      <h4 class="card-header">Comments</h4>
      <div class="card-body">
        <div class="list-group">
          <%- include('./partials/addComment') %> <% const comments =
          post.comments.reverse() %> <% for( let i = 0; i < comments.length; i++
          ) { const comment = comments[i] %>
          <div><%- include('./partials/comment', {comment}) %></div>
          <%}%>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('./partials/footer.ejs') %>
