<title>
  <%= typeof post!= 'undefined' ? (typeof post.title != 'undefined' ? `Edit -
  ${post.title}` : '') : 'Create Post' %>
</title>
<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<%- include('./partials/navbar') %>
<div class="text-center">
  <%- include('./partials/messages') %>
</div>
<div class="container card bg-light shadow my-4">
  <form
    action="/admin/<%= title == 'update'? `${post.slug}?_method=PUT`: 'create' %>"
    method="POST"
    enctype="multipart/form-data"
    class="row justify-content-center"
  >
    <div class="col p-4">
      <h1 class="text-center p-2"><%=title%> Post</h1>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title"
        placeholder="Enter Title here" value="<%= typeof post!= 'undefined' ?
        (typeof post.title != 'undefined' ? post.title : '') : '' %>" <%= typeof
        post!= 'undefined' ? '' : 'required' %> />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control"
        id="description" placeholder="Enter description here" value="<%= typeof
        post!= 'undefined' ? (typeof post.description != 'undefined' ?
        post.description : '') : ''%>" <%= typeof post!= 'undefined' ? '' :
        'required' %> />
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        <textarea
          name="body"
          id="body"
          class="form-control"
          cols="30"
          rows="10"
        >
<%- typeof post!= 'undefined' ? (typeof post.body != 'undefined' ? post.body : '') : '' %></textarea
        >
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="code">Code</label><input type="text" name="code"
          class="form-control" id="code" placeholder="Enter Code here"
          value="<%= typeof post!= 'undefined' ? (typeof post.code !=
          'undefined' ? post.code : '') : ''%>" <%= typeof post!= 'undefined' ?
          '' : 'required' %> />
        </div>
        <div class="form-group col">
          <label for="tags">Tags</label>
          <input type="text" name="tagString" class="form-control" id="tags"
          placeholder="Enter tags here" value="<%= typeof post!= 'undefined' ? (
          typeof post.tags != 'undefined' ? post.tags.join(' ') : ''): '' %>"
          <%= typeof post!= 'undefined' ? '' : 'required' %> />
        </div>
      </div>
      <div class="form-group">
        <label for="photos">Photos</label>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" multiple accept="image/*" name="photos"
            class="custom-file-input" id="photos" <%= typeof post!= 'undefined'
            ? '' : 'required' %> />
            <label class="custom-file-label" for="photos">Choose Photos</label>
          </div>
        </div>
        <div class="row justify-content-center" id="preview">
          <% if (typeof post != 'undefined') { %> <% for( let i = 0; i <
          post.photos.length; i++ ) {%>
          <div class="col-sm-5 col-md-4 col-lg-3 mb-3">
            <a
              data-toggle="lightbox"
              data-gallery="gallery"
              href="<%= post.photos[i].source %>"
            >
              <img
                src="<%= post.photos[i].source %>"
                class="d-block w-100"
                alt="<%= post.photos[i].key %>"
              />
            </a>
          </div>
          <% } %> <% } %>
        </div>
      </div>
      <div class="form-group">
        <label for="video">Video</label>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" accept="video/*" name="video"
            class="custom-file-input" id="video" <%= typeof post!= 'undefined' ?
            '' : 'required' %> />
            <label class="custom-file-label" for="video">Choose Video</label>
          </div>
        </div>
      </div>
      <div class="">
        <label for="thumbnail">Thumbnail</label>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input id="thumbnail" type="file" accept="image/*" name="thumbnail"
            class="custom-file-input" <%= typeof post!= 'undefined' ? '' :
            'required' %> />
            <label class="custom-file-label" for="thumbnail"
              >Choose Thumbnail</label
            >
          </div>
        </div>
        <div class="row justify-content-center" id="thumbnailPreview">
          <% if (typeof post !='undefined') { %>
          <div class="col-sm-5 col-md-4 col-lg-3 mb-3">
            <a
              data-toggle="lightbox"
              data-gallery="gallery"
              href="<%= post.thumbnail.source %>"
            >
              <img
                src="<%= post.thumbnail.source %>"
                class="d-block w-100"
                alt="<%= post.thumbnail.key %>"
              />
            </a>
          </div>
          <% } %>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-success mr-2">
          Submit
        </button>
        <button
          type="reset"
          class="btn btn-outline-danger"
          onclick="history.back()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>

<%-include('./partials/footer.ejs') %>
<script>
  CKEDITOR.replace('body');
</script>
