<%- include('./partials/navbar') %>
<title><%=profile.username%> | M-Bais</title>
<div class="container card bg-light shadow my-4">
  <form
    id="profileForm"
    action="/api/<%=profile.username%>?_method=PUT"
    method="POST"
    enctype="multipart/form-data"
    class="row justify-content-center"
  >
    <div
      class="col-sm-5 col-md-4 col-lg-3 justify-content-center"
      style="max-width: 20rem;"
    >
      <% if (profile.avatar != null) { %>
      <img
        src="<%=profile.avatar.source%>"
        alt="<%=profile.avatar.key%>"
        class="card-body img-fluid col rounded-circle"
      />
      <% } else {%>
      <img
        src="/img/profile-image.jpg"
        alt="profile-image"
        class="card-body img-fluid col rounded-circle"
      />
      <% }%>
      <div class="form-group" id="avatar">
        <label for="avatar">Change Profile</label>
        <input type="file" class="form-control-file" name="avatar" />
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-9">
      <h4 class="card-title pt-4"><%= profile.username%></h4>
      <div>
        <p class="text-muted mb-0">Email</p>
        <h4 class="card-title text-lowercase"><%= profile.email%></h4>
      </div>
      <fieldset>
        <div class="form-group">
          <label for="forname">Name</label>
          <input
            type="name"
            name="name"
            class="form-control"
            id="forname"
            placeholder="Update name"
            value="<%= typeof profile.name != 'undefined' ? profile.name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="forBio">Bio</label>
          <textarea
            type="name"
            name="shortBio"
            class="form-control"
            id="forBio"
            placeholder="Enter your bio here"
          >
<%= typeof profile.shortBio != 'undefined' ? profile.shortBio : '' %></textarea
          >
        </div>
      </fieldset>
      <% if (profile.id === user.id) { %>
      <input
        type="button"
        class="mb-3 mr-2 btn btn-outline-warning btn-sm hidden"
        id="editProfile"
        value="Edit Profile"
      />
      <input
        type="submit"
        class="mb-3 mr-2 btn btn-outline-success btn-sm"
        id="submitProfile"
        value="Save Profile"
      />
      <input
        type="button"
        class="mb-3 mr-2 btn btn-outline-danger btn-sm"
        id="deletebutton"
        data-toggle="modal"
        data-target="#modalCenter"
        value="Delete Profile"
      />
      <% } %>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="modalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">
          Do you really want to Delete your account
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Not now
        </button>
        <form
          class="float-right"
          action="/api/<%=user.username%>?_method=DELETE"
          method="post"
        >
          <button type="submit" class="btn btn-outline-danger btn-sm">
            Yes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container card bg-light shadow my-4">
  <div class="list-group mb-3">
    <div class="text-center">
      <% if (profile.liked.length<=0) { %>
      <h3 class="mt-3">No Liked Posts</h3>
      <% } else { %>
      <h3 class="mt-3">Liked Posts</h3>
      <% } %>
    </div>
    <% for( let i = 0; i < profile.liked.length; i++ ) { %>
    <div>
      <%- include('./partials/list-of-post',{post : profile.liked[i]})%>
    </div>
    <%}%>
  </div>
</div>
<% if (profile.id === user.id) { %>
<div class="container card bg-light shadow my-4">
  <div class="list-group mb-3">
    <div class="text-center">
      <% if (profile.saved.length<=0) { %>
      <h3 class="mt-3">No Saved Posts</h3>
      <% } else { %>
      <h3 class="mt-3">Saved Posts</h3>
      <% } %>
    </div>
    <% for( let i = 0; i < profile.saved.length; i++ ) { %>
    <div>
      <%- include('./partials/list-of-post',{post : profile.saved[i]})%>
    </div>
    <%}%>
  </div>
</div>
<% } %> <%-include('./partials/footer.ejs') %>
