<%- include('./partials/navbar') %>

<!-- bradcam_area_start -->
<div class="courses_details_banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-6"></div>
    </div>
  </div>
</div>
<!-- bradcam_area_end -->

<div class="courses_details_info">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="courses_sidebar">
          <div class="col-xl-12 col-lg-12">
            <video
              id="my-video"
              class="video-js vjs-fluid vjs-default-skin vjs-big-play-centered video_thumb"
              controls
              preload="auto"
              data-setup="{}"
            >
              <source src="/play/<%= files.name %>" type="video/mp4" />
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider
                upgrading to a web browser that
                <a
                  href="https://videojs.com/html5-video-support/"
                  target="_blank"
                  >supports HTML5 video</a
                >
              </p>
            </video>
            <br />
            <br />
          </div>
          <h1><%= files.metadata.metadata.subject %></h1>
          <p>
            <%= files.metadata.metadata.message %>
          </p>
          <h3 class="second_title">Course Outline</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
