<%- include('./partials/navbar') %>

<!-- This page is not in use -->

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
  <h3>
    <%= post.subject %>
  </h3>
</div>
<!-- bradcam_area_end -->

<!--================Blog Area =================-->
<section class="blog_area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5 mb-lg-0">
        <div class="blog_left_sidebar">
          <% if(post) { %>
          <article class="blog_item">
            <% include ./partials/messages %>
            <div class="blog_item_img">
              <img class="card-img rounded-0" src="/img/blog/itsPost.gif" />
              <a href="#" class="blog_item_date">
                <h3><%= post.date.toDateString() %></h3>
              </a>
            </div>
            <div class="blog_details">
              <a class="d-inline-block" href="">
                <h2><%= post.subject %></h2>
              </a>
              <p>
                <%= post.message %>
              </p>
              <ul class="blog-info-link">
                <li>
                  <a href="#"
                    ><i class="fa fa-user"></i><%= post._user.name %></a
                  >
                </li>
                <li>
                  <a href="#"><i class="fa fa-comments"></i> 03 Comments</a>
                </li>
              </ul>
              <% if(isPost) { %>
              <form
                method="POST"
                action="/delete/<%= post._id %>?_method=DELETE"
              >
                <button class="btn btn-danger btn-block mt-4">Delete</button>
              </form>
              <% } %>
            </div>
          </article>
          <% } else { %>
          <article class="blog_item">
            <div class="blog_item_img">
              <img class="card-img rounded-0" src="/img/404.jpg" alt="" />
            </div>
            <div class="blog_details">
              <a class="d-inline-block" href="single-blog.html">
                <h2>404 No Post Found</h2>
              </a>
              <p>
                First Upload some post then come back to view.
              </p>
            </div>
          </article>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Blog Area =================-->

<%- include('./partials/footer') %>
